/*INICIO*/

.cuerpo {
    background-image: url(../img/BosqueOscuro.jpeg)!important;
    background-color: #fff;
    
    opacity: 1;
    background-repeat: no-repeat;
    
    
}

.sectionInicial {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: larger;
    text-align: center;
}

.sectionInicial .eslogan{
    font-size:250%;
    
}

.sectionInicial .mensaje{
    font-size: 150%;
}

.sectionInicial  .botonUnion{
    /*background-color: rgb(9, 124, 14);
    text-decoration: none;
    color:#fff;
    margin-top: 20px;
    border-radius: 20%;*/
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#333333;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:#FFD27D;
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
}

/*MENU*/

.barra{
    font-family: Arial, Helvetica, sans-serif;
    width: 3%;
    height: 9%;
    
    transition: .4s all;
    z-index: 1;
}

.barra ul{
    padding:0px;
    text-align: center;
}

.barra li{
    transition: .3s all;
}

.barra a{
    text-decoration: none;
    list-style: none;
    transition: .3s all;
    font-size: 0px;
    padding:0px;
}

.barra h2{
    text-align: center;
    color:white;
    padding: 7px;
    padding-bottom: 7px;
    font-size: 0px;
    background-color: green;
}

.barra:hover{
    width: 20%;
    height: 100%;

    background-color: green;
    opacity: .8;
    
}

.barra:hover h2{
    padding: 15px;
    font-size: 35px;
}

.barra:hover a{
    font-size: 20px;
    color:white;
    display: block;
    padding:20px;
}

.barra:hover img{
    height: 0px!important;
}

.barra:hover li{
    border-top: 1px solid black;
    width: 100%;
}






#Fotoga {
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
}

#cabecera {
    font-size: 3rem;
    color: antiquewhite;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
    text-shadow: 0cap;
}

fieldset{
    width: 500px;
    height: auto;

}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 10px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
   position: relative;
   width:500px;
    height:600px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 10%;
  border-radius: 20px;
    margin:auto;
    margin-top: 90px;
}

#Nombre{
    color:rgb(243, 240, 240);
width: 40px
}

#Socio{
    color:rgb(243, 240, 240);
    width: 100px;
    font-size: 250%;
    

    }

#Apellidos{
    color:rgb(243, 240, 240);
    width:36px
}

#DNI{
    color:rgb(243, 240, 240);
width:36px
}

#FECHANACIMIENTO{
    color:rgb(243, 240, 240);
    width:36px
}

#DIRECCIÓN{
    color:rgb(243, 240, 240);
width:36px
}

#EMAIL{
    color:rgb(243, 240, 240);
width:36px
}

#CUOTA{
    color:rgb(243, 240, 240);
width:36px
}

#TERMINOS{
    color:rgb(243, 240, 240);
    width:36px
}

#TELEFONO{
    color:rgb(243, 240, 240);
 width:36px
}
#Anual{
    color:rgb(243, 240, 240);
    width:36px
    }

    #Mensual {
        color:rgb(243, 240, 240);
        width:36px
        }

 #periodo{
    color:rgb(243, 240, 240);
    width:36px
 }   

#Trimestral{
    color:rgb(243, 240, 240);
    width:36px
}

#Semestral{
    color:rgb(243, 240, 240);
    width:36px
}

#acepto{
color:rgb(243, 240, 240);
width:36px
}

/*FOOTER*/

footer{
    bottom: 0;
    position: fixed;
    width: 100%;
}

.pie-pagina{
    width: 100%;
    background-color: black;
    left: 0%;
    
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 0px;
    align-items: flex-end;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width:250px;
}

.pie-pagina .grupo-1 .box h2{
    color:#fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box h2 a{
    color:#fff;
    margin-bottom: 25px;
    font-size: 20px;
    text-decoration: none;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 20px;
}

.pie-pagina .grupo-2{
    color:#fff;
    text-align: right;
    margin-right: 5px;
    margin: 5px;
}

.pie-pagina .grupo-1 .box #privacidad:hover{
    color:red!important;
    text-decoration: underline;
    

}

<<<<<<< HEAD

/*
#navegador ul {
    list-style-type: none;
    text-align: center;
}
#navegador li a {
    padding: 20px 30px 20px 30px;
    color: #0d0e0d;
    background-color: #075732;
    border: 1px solid #ccc;
    text-decoration: none;
 }

#navegador li {
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
=======
.pie-pagina .grupo-1 .box .figureLogo{
    margin-bottom: 0;
>>>>>>> f33b68b382a07f0db501eea78326504cfd5f0b36
}


#fondoCuerpo{
    
    font-size:  40px; ;
    
    color: rgb(184, 179, 179);
    font-family:  'Lucida Grande';
    text-align: justify;
       position: absolute;
    width: 50vw;
    height: 50vh;
    text-shadow: 0cap;
   

}




#Sobre{
    font-size:120% ;
    font-style: normal;
    color: rgb(7, 7, 7);
    font-family: Cambria, ;
    text-align: justify;
   position: absolute;
    width: 100vw;
    height: 70vh;
    margin-top: 50px;
    background-color: aquamarine;
    opacity: 0.6;
}


 #Sobreh2{
    font: size 1200% ;
    font-style:italic ;
    color: rgb(3, 3, 3);
    font-family: 'Arial Narrow Bold' ;
    text-align: center;
   position: absolute;
   color: #d8d8d8;
   
 }

 .Fondo {
    background-color: lawngreen;
}

 h1{
    font-size: 500%;
    font-style: normal;
    position: relative;
    text-align: center;
    color: #f7f5f5;

 }
 /*CONTACTO*/

/*SECTION*/

h2 {
    font-size: 2rem; 
    font-style: italic;
    color: rgb(3, 107, 29);
    position: text-align-center;
    top: 25px; 
    left: 25%;
    transform: translate(-25% -25%);
    text-shadow: 0cap;
  
}

h3 {
    font-size: x-large;
    font-style: oblique;
    color: rgb(13, 198, 19);
    position: left;
    
}
#BOSQUENOTICIA1 {
    width: 30%;
    height: 250px;
}
#BOSQUENOTICA2 {
    width: 30%;
    height: 250px;
}
#BOSQUENOTICIA3 {
    width: 30%;
    height: 250px;
}
#BOSQUENOTICIA4 {
    width: 30%;
    height: 250px;
}

p {
    font-size: larger;
    color: black;
    font-style: normal;
    font-weight: 400;
}
