    /*DIVS*/
#navegador ul {
    list-style-type: none;
    text-align: left;
    margin: 0px;
    margin-bottom: 23px;
    padding-inline-start: 0px;
}

#navegador li {
    display: inline;
    text-align: center;
    margin: 0 0px 0 0;
}

#navegador li a {
    padding: 3px 100px 20px 100px;
    color: #666;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    text-decoration: none;
    font-size: xx-large;
 }

 #navegador li a:hover{
    background-color: #195213;
    color: #ffffff;
 }

/*Fotos*/
#Fotoga {
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
}
